@import "../../scss/variables";

.header {
    background-color: $turuncu;
    display: flex;
    justify-content: space-between;
    a{
        text-decoration: none;
        color: $siyah;
        font-size: 1rem;
        padding: 0.5rem;
    }
}